body{
    background-color: rgb(81 64 95 / 3%);
}
form{
    width: 100%;
    text-align: center;
}
div{
    width: 100%;
    background-color: rgba(255, 252, 249, 0.356);
}

form input, form select{
    border-radius: 1px;
}

#result{
    border-radius: 10px;
    width: 50%;
    padding: 3vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(241 163 167 / 24%);
}
fieldset{
    background-color:#3f51b557;
}
select{
    width: 50%;
    margin-left: 25%;
}

body, form, div, option, select, input{
    font-size: 18pt;
    color:rgb(81, 64, 95);
    letter-spacing: 1px;
}

#button1{
    margin-left: 25%;
}


