html{
    background-color: #475b6e;
    background: url(../images/стена.jpg);
}

body{
    margin:0;
}

.slick-track{
    display: flex;
    min-width:0;
}

.slick-list{
    overflow: hidden;
}
.slider{
    margin-top:100px;
    position: relative;
    padding: 30px;
    background-color:rgb(47, 51, 53);
    border:10px;
    border-color:#000000;
}
.slider .slick-arrow{
    position:absolute;
    top:45%;
    z-index:10;
    font-size:0;
    width: 30px;
    height: 30px;
    color:#ffffff;
    border:0;
}

.slider .slick-arrow.slick-prev{
    left:20px;
    background: url('../images/l.jpg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
    right:20px;
    background: url('../images/r.jpg') 0 0 / 100% no-repeat;
}

.slider .slick-dots{
    display:flex;
    align-items:center;
    justify-content: center;
    margin:auto;
    padding:0;
}

.slider .slick-dots li{
    list-style:none;
    margin:10px;
}

.slider .slick-dots button{
    font-size:0;
    width: 16px;
    height:16px;
    background-color:#1b2b35;
    border-radius: 100%;
    border-color:rgb(0, 0, 0);
}

.slider .slick-dots li.slick-active button{
    background-color:rgb(201 206 240 / 38%);
    border-color:rgb(0, 0, 0);
}

.slider .slider_item{
    margin:auto;
}
